/* CSS Document */
body{
    padding:0px;
    margin:0px; 
    background-color: #000; 
    color:#FFF; 
    font:10px/14px Tahoma, sans-serif;
}

div, p, ul, h2, h3, h4, img{padding:0px; margin:0px;}

h, h1{
    color: #A77D3D;
}

ul{list-style-type:none;}

.clear {clear: both; margin: 0px}
.spacer{font-size:0; line-height:10px; clear:both;}
a {
    color: #A77D3D;
    outline: 0;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active,
a:hover {
    color: #fff;
    text-decoration: none;
}

/* TOP */

#topHeader{
    width:960px; 
    height:100px;
    margin: 0 auto;
    position: relative;
    background-color: #000;
    margin-bottom: 10px;
    border-bottom-color: gold;
    border-bottom-style: outset;
    padding-bottom: 10px;
}

#top{
    width:400px; 
    float: right;
    height: 40px;
    padding-top: 60px;
}

#top1{
    width:300px; 
    height: 40px;
    background:url(../images/MarzonLogo.png) 0 0 no-repeat; 
    float: left;
    margin-bottom: 20px;
}

#logo{width:186px; height:36px; position:absolute; top:34px; left:11px }

ul.menu {
    position:relative;
    height: 67px;
    width: 500PX;
    font-size: 16px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    float: right;
}

ul.menu li{
    float: right;
    position: relative;
    margin-right: 10px;
}

ul.menu li.home1 a{}
ul.menu li.about1 a{}
ul.menu li.selling1 a{}
ul.menu li.renting1 a{}
ul.menu li.contacts1 a{}

ul.menu li.home a{}
ul.menu li.home a:hover{}

ul.menu li.about a{}
ul.menu li.about a:hover{}

ul.menu li.selling a{}
ul.menu li.selling a:hover{}

ul.menu li.renting a{}
ul.menu li.renting a:hover{}

ul.menu li.contacts a{}
ul.menu li.contacts a:hover{}

/* HEADER */

#header{width:960px; height:225px; position:relative; margin: 0 auto; clear:both;}

#formPan{
    width:212px;
    height:225px; 
    float:left; 
    background-color: darkgray;
}
#formPan h2{height:32px; position:relative;}

form.search{color:#353739; margin: 10px 0 0 0; padding:0 0 0 9px;}
form.search select{height:18px; border: #abadb3 1px solid; font:10px/14px Tahoma, sans-serif; width:80px}
form.search select.location{height:18px; border: #abadb3 1px solid; font:10px/14px Tahoma, sans-serif; width:190px}
form.search input{height:16px; border: #abadb3 1px solid; font:10px/14px Tahoma, sans-serif; width:85px}
form.search input.submitBtn{margin:10px 0 0 120px;  width:66px; height:17px; line-height:0; font-size:0;}

#mainimgPan{width:748px; float:left;}

#mainimgPan ul{position:relative; margin: 6px 0 0 0px; clear:both; height:26px;}
#mainimgPan ul li {float:left; margin-right:40px}
#mainimgPan ul li.btn1 a{width:133px; height:15px; display:block; background:url(../images/btn_compare.jpg) 0 0 no-repeat; text-indent:-20000px; }
#mainimgPan ul li.btn2 a{width:196px; height:15px; display:block; background:url(../images/btn_presentation.jpg) 0 0 no-repeat; text-indent:-20000px; }
#mainimgPan ul li.line {width:2px; height:18px;}

#mainimg{position:relative; height:225px; clear:both;}
#mainimg img {position: absolute; top:126px; left:424px}


/* CONTENT */

#content{
    width:960px; 
    position:relative; 
    margin: 0 auto; 
    clear:both; 
    background-color: #000; 
    border-bottom: #FFFFFF 1px dashed; 
    border-top: #FFFFFF 1px dashed;
}
#content a{
    font:10px/14px Tahoma, sans-serif; 
    color: #000; 
    text-decoration:none
}
#content a:hover{
    color:#000;
}

#leftPan{
    width:212px; 
    height:670px; 
    position:relative; 
    float:left; 
    background-color: darkgray;
}

#services{position:relative; margin: 20px 15px 15px 15px}
#services h2{
    width:182px; 
    height:25px;
    position:relative; 
    padding-bottom:15px; 
    font-size:12px; 
    font-weight:bold;
}
#services p{width:170px; position:relative; padding: 0 0 0 4px; }
#services p span{width:170px; font:10px/14px Tahoma, sans-serif; color:#000000; font-weight:bold;}

.spacerline{position:relative; clear:both; height:2px; background:url(../images/b_hline.jpg) 0 0 repeat-x; margin:0 }

#mortgage {position:relative; margin: 20px 15px 15px 5px}
#mortgage h2{width:182px; height:25px; background:url(../images/h_mortgage.jpg) 0 0 no-repeat; position:relative; padding-bottom:15px; margin-left:10px}
#mortgage p{width:80px; position:relative; padding: 22px 10px 20px 103px; background:url(../images/img_mortgage.jpg) 0 0 no-repeat; font:10px/14px Tahoma, sans-serif; color:#000000; font-weight:bold; }

#mortgage ul {position:relative; clear:both; margin: 5px 20px 0 16px}
#mortgage ul li{height:18px;}
#mortgage ul li a{font:10px/18px Tahoma, sans-serif; color:#fff; font-weight:normal; text-decoration:underline; background:url(../images/arrow1.gif) 0 7px no-repeat; padding: 0 0 0 7px; display:block;}
#mortgage ul li a:hover{text-decoration:none; background:#3c474f;}

#rightPan{
    width:748PX; 
    position:relative; 
    float:left;
    height: inherit;
}

#welcome{
    width:680px; 
    position:relative; 
    margin:15px 0 0 14px; 
    margin-left: 50px;
}

#fcontainer{width:497px; position:relative; margin:18px 0 0 14px; }

#featured{
    width:500px; 
    position:relative; 
    float:left; 
    margin-bottom:10px; 
    margin-left:70px;
}

#featured p{
    width:700px; 
    position:relative; 
    padding: 0 0 50px 0px;
    height:100px;
}

#featured p span.town{font:10px/14px Tahoma, sans-serif; color:#000; font-weight:bold;}
#featured p span.price{font:10px/14px Tahoma, sans-serif; color:#000; font-weight:normal;}
#featured p span.number{font:10px/14px Tahoma, sans-serif; color: #076807; font-weight:bold;}

#vspacerline{width:2px; height:164px; position:relative; float:left; padding-right:7px; margin-top:5px; background:url(../images/line1.jpg) 0 0 no-repeat;  }

#links{width:157px; position:relative; float:left; padding-top:3px}
#links h2{width:107px; height:22px; background:url(../images/h_links.jpg) 0 0 no-repeat; position:relative; padding-bottom:10px}
#links ul{width:157px; position:relative; clear:both; padding-bottom:20px;}
#links ul li{height:18px;}
#links ul li.back{background:#5a6a72;}
#links ul li a{font:11px/18px Tahoma, sans-serif; color:#fff; font-weight:normal; text-decoration:none; background:url(../images/arrow2.gif) 8px 7px no-repeat; padding: 0 0 0 26px; display:block;}
#links ul li a:hover{text-decoration:underline;}

/* FOOTER */

#footer{
    width:960px; 
    height:160px; 
    position:relative; 
    margin: 0 auto; 
    clear:both; 
    border-top-color: rgb(46, 45, 39);
    border-top-style: outset;
    margin-top: 20px;
}

#footer img{
    width:300px; 
    height:160px; 
    position:absolute; 
    left:15px; 
    top:9px;
}

#footer p{font:10px/14px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; text-align:center; color:#fff; margin-top:30px; text-align:right}
#footer .a{font:10px/14px Tahoma, Arial, Helvetica, sans-serif; font-weight:normal;  color:#fff; text-decoration:none; padding: 0 5px}
#footer .a:hover{color:#000; text-decoration:none; background:#fff;}

/* BOTTOM */

#bottom{
    width:960px;
    height:40px;
    position:relative;
    margin: 0 auto;
    clear:both;
}
#bottom a {
    color: #FFFFFF;
}
#bottom p{
    width:400px;; 
    position:relative; 
    float:right; 
    text-align:right; 
    font:10px/14px Tahoma, Arial, Helvetica, sans-serif; 
    font-weight:normal; color:#fff; 
    display:block;
}
#conleft{
    width:212px; 
    height:230px; 
    position:relative; 
    float:left; 
}
#conright{
    width:285px; height:230px; position:relative; float:right;
}
